  <tr>
    <td> <%= image_tag post.user.avatar.url(:thumb) %> </td>
    <td> <%= post.user.name %> </td>
    <% if post.copies_remaining > 0 %>
      <td> <%= link_to post.attached_file_file_name, download_post_path(post), remote: true, id: post.attached_file.url, class: 'post'  %> </td>
    <% else %>
      <td> <s><%= post.attached_file_file_name %></s> </td>
    <% end %>
    <% if post.copies_remaining > 1 %>
      <td> <%= post.copies_remaining %> copies left </td>
    <% elsif post.copies_remaining == 1 %>
      <td> <%= post.copies_remaining %> copy left </td>
    <% else %>
      <td>  </td>
    <% end %>
    <td> <%= post.created_at.strftime('%I:%M %P') %> </td>
    <td> <%= post.created_at.strftime('%B %d') %> </td>
  </tr>
