<h1>G O O D B Y E</h1>

<% @posts.each do |post| %>
    <ul>
    <% if post.on_display? || (current_user && current_user.admin?) %>
      <li>
        <% if post.in_stock? %>
          <%= link_to post.name, post_path(post) %>
        <% elsif post.on_display? %>
          <s><%= link_to post.name, post_path(post) %></s>
        <% else %>
          <s class="grey"><%= link_to post.name, post_path(post) %></s>
        <% end %>

      </li>
  <% end %>
    </ul>
<% end %>

<%= link_to 'New post', new_post_path %>

<hr>

<% if (current_user && current_user.admin?) %>
  <%= link_to 'Purge stale posts (out of stock for more than 24 hours)', purge_posts_path, method: :delete %>
<% end %>
