<% if current_user %>
  <hr>
  <div class="post-form">
    <%= form_for(@post) do |f|%>
      <%= f.label '# of copies:' %>
      <%= f.number_field :copies_remaining, min: 1, max: 100 %>
      <%= f.submit data: {disable_with: "Adding post.." } %>
      <%= f.file_field :attached_file %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <%= render 'layouts/errors', object: @post %>
    <% end %>
  </div>
<% end %>
  <hr>
<table>
  <tbody>
    <% if is_admin? %>
      <%= sync_new partial: "admin_post", resource: Post.new %>
      <% @posts.each do |post| %>
        <%= sync partial: "admin_post", resource: post %>
      <% end %>
    <% else %>
      <%= sync_new partial: "post", resource: Post.new %>
      <% @posts.each do |post| %>
        <%= sync partial: "post", resource: post %>
      <% end %>
    <% end %>
  </tbody>
</table>
