<h1><%= @post.name %></h1>

<p>
  Uploaded by <%= link_to @post.user.name, user_path(@post.user) %>
  <%= image_tag @post.user.avatar.url(:thumb) %>
</p>

<p> Copies remaining: <%= @post.copies_remaining %> </p>


<p>  <%= @post.description %> </p>

<hr>
<p>
  <a href= <%= @post.attached_file.url %>>raw link to attached file</a>
</p>
<p> <%= link_to 'back to index', posts_path %> </p>
