<h1><%= @post.name %></h1>

<p>
  Uploaded by <%= @post.user.name %>
  <%= image_tag @post.user.avatar.url(:thumb) %>
</p>

<p>
  <a href= <%= @post.attached_file.url %>>raw link to attached file</a>
</p>

<%= @post.description %>

<p> <%= link_to 'back to index', posts_path %> </p>
