<h1><%= @post.name %></h1>

<p>
  Uploaded by <%= link_to @post.user.name, user_path(@post.user) %>
  <%= image_tag @post.user.avatar.url(:thumb) %>
</p>
<% if @post.copies_remaining > 0 %>
  <p> Copies remaining: <%= @post.copies_remaining %> </p>
  <p>
    <%= link_to "Download", download_post_path(@post)  %>
  </p>

<% else %>
  <p>Nice try Sucka. No copies remaining. </p>
<% end %>

<p>  <%= @post.description %> </p>

<% if current_user && (current_user.admin? || @post.user == current_user) %>
  <%= link_to post_path(@post), data: {confirm: "Destroy Post?", method: 'delete'} do %>
    <span class="glyphicon glyphicon-trash red"></span>
  <% end %>
<% end %>


<hr>
<p> <%= link_to 'back to index', posts_path %> </p>
